@charset "utf-8";

body{
	background-image: url("Image/Screen/domBackground.png");
	background-color: #0F0F0F;
	overflow: hidden;
	height: 100%;
	width: 100%;
	margin: 0;
}

#size{
	height: 100%;
	width: 100%;
}

#drawArea{
	display: block;
}
